<div class="table-container">

    <table>
        <thead>
            <tr>
                <th>Category ID</th>
                <th>Category name</th>
                <th>Creation Date</th>
                <th>Details</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let categories of categoryList">
                <td>{{ categories.category_id }}</td>
                <td>{{ categories.category_name }}</td>
                <td>{{ categories.creation_date }}</td>
                <td><button type="button" (click)="handleContentEvent(categories.category_id)">Details</button></td>
                <td><button type="button" (click)="handleEditPageButton(categories.category_id)">Edit</button></td>
                <td><button type="button" (click)="handleCategoryDeleteButton(categories.category_id)">Delete</button></td>
            </tr>
        </tbody> 
    </table>
<form *ngIf="editClick" [formGroup]="categoryFormGroup"(ngSubmit)="updateCategory(categoryFormGroup,id)">
<p>
    Editing {{ id }}. category.
</p>
<label for="category_id">Category ID</label>
<input type="text" formControlName="category_id">

<label for="category_name">Category Name</label>
<input type="text" formControlName="category_name">

<label for="creation_date">Creation Date</label>
<input type="text" formControlName="creation_date">

<button type="submit">Edit Save</button>
<button type="button" (click)="handleCancelButton()">Cancel</button>
</form>


</div>

<div>
    <div>
        <app-button (onButtonClick)="routeCreateCategory()" [buttonText]="'Click For Create Category'" [buttonType]="'primary'"></app-button>
    </div>
</div>
