h1 {
    text-align: center;
    color: #fff;
    font-family: 'freight-big-pro';
    font-size: 75px;
    font-weight: normal;
    letter-spacing: -6.5px;
    overflow-wrap: break-world;
    margin-top: 100px;
 }