<div class="table-container">

    <table>
        <thead>
            <tr>
                <th>Comment ID</th>
                <th>Post Id</th>
                <th>User ID</th>
                <th>Comment</th>
                <th>Creation Date</th>
                <th>Is Confirmed</th>
                <th>Comment Details</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let comments of commentList | slice: (pageIndex * pageSize): ((pageIndex * pageSize) + pageSize)">
                <td>{{ comments.comment_id }}</td>
                <td>{{ comments.post_id }}</td>
                <td>{{ comments.user_id }}</td>
                <td>{{ comments.comment }}</td>
                <td>{{ comments.creation_date }}</td>
                <td>{{ comments.is_confirmed }}</td>
                <td><button type="button" class="buttons" (click)="handleContentEvent(comments.comment_id)">Details</button></td>
                <td><button type="button" class="buttons" (click)="handleEditPageButton(comments.comment_id)">Edit</button></td>
                <td><button type="button" class="buttons" (click)="handleCommentDeleteButton(comments.comment_id)">Delete</button></td>

            </tr>
        </tbody>   
        </table>
    
        

    <div class="edit">
        <form *ngIf="editClick" [formGroup]="commentFormGroup"(ngSubmit)="updateComment(commentFormGroup,id)">

        <p>
            Editing {{ id }}. comment.
        </p><br>
        <label for="comment_id">Comment ID : </label>
<input type="text" formControlName="comment_id"><br><br>

<label for="post_id">Post ID : </label>
<input type="text" formControlName="post_id"><br><br>

<label for="user_id">User ID : </label>
<input type="text" formControlName="user_id"><br><br>

<label for="comment">Comment : </label>
<input type="text" formControlName="comment"><br><br>

<label for="creation_date">Creation Date : </label>
<input type="text" formControlName="creation_date"><br><br>

<label for="is_confirmed">Is Confirmed : </label>
<input type="text" formControlName="is_confirmed"><br><br>
<button type="submit" class="buttons">Edit Save</button>
<br><br>

<button type="button" class="buttons" (click)="handleCancelButton()">Cancel</button>
</form>

</div>
        <div class="pagination-buttons">
            <button type="button" class="buttons" (click)="handlePreviousPageButton()"
            [disabled]="pageIndex === 0">Previous</button>
            <button type="button" class="buttons" (click)="handleNextPageButton()"
            [disabled]="pageIndex === totalPage -1">Next</button>
        </div>

    </div>
    

    <div class="app-button">
        <app-button (onButtonClick)="routeCreateComment()" [buttonText]="'Create Comment'" [buttonType]="'primary'"></app-button>
        </div>
        
        

