<div class="container">

  <div>
    <label>Enter Username: </label>
    <input type="text" [(ngModel)]="newUsername" required #username="ngModel" placeholder="Enter Username">
</div>
<br>
<div>
<label>Enter Email: </label>
<input type="text" [(ngModel)]="newEmail" required #email="ngModel" placeholder="Enter Email">
</div>
<br>

  <div>
    <button type="button" class="buttons" [disabled]="username.invalid || email.invalid"
     (click)="handleCreateUser()">Create User</button>
  </div>

  <p class="msg-success" *ngIf="isSuccess">
    New user is created successfully.
</p>

</div>
